.footerTab{
    width: 100%;
    padding-top: 20px;
    &__boxs{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.062);
        box-shadow: 2px 5px 10px black;
        padding: 0px 5px;
    }
    &__links{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        gap: 5px;
    }
    &__info{
        font-size: 14px;
    }
    .tab{
        font-size: 25px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(112, 110, 110, 1) ;
        font-size: 12px;
        &:hover{
            color: rgba(0, 113, 228, 1);
        }
    }
    .green{
        color: green;
        &:hover{
            color: rgba(0, 113, 228, 1);
        }
    }

    
}

@media (min-width: 768px) {
    .footerTab{

        &__link{
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            gap: 10px;
        }
    }
}
@media (min-width: 1024px) {
    .footerTab{
        display: none;
    }
}