.header{
    width: 100%;
    &__nav{
        display: none;
    }
}

@media (min-width: 1240px){
    .header{
        width: 100%;
        background-color: whitesmoke;
        padding: 20px 20px;
        &__nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__box{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &__city{
            font-size: 16px;
            font-weight: 550;
        }
        &__select{
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: blue;
        }
    }
}